/* Navbar section*/
@media (max-width:870px) {
    .Navbar nav{
        grid-template-columns: auto auto !important;
    }
    .Navbar ul{
        display: none !important;
    }
}
/* discover section */
@media (max-width:1000px) {
    .discover{
        grid-template-columns: auto !important;
    }
    .discover .A, .discover .B, .discover .C{
        max-width: 28rem;
        padding: 3rem !important;
    }
    .discover .B{
        grid-template-columns: auto !important;
        align-items: center;
    }
    .discover .B img{
        margin: 0rem auto;
    }
    @media (max-width:449px) {
        .discover .A, .discover .B, .discover .C{
            padding: 1rem !important;
        }
    }
}

/* sale cards*/
@media (max-width:1240px) {
    .con-sale .sale{
        grid-template-columns: auto auto auto;
    }
}
@media (max-width:800px) {
    .con-sale .sale{
        grid-template-columns: auto auto;
    }
}
@media (max-width:585px) {
    .con-sale .sale{
        grid-template-columns: auto;
    }
}
/* Collection */
@media (max-width:900px) {
    .collection{
        background-position: center !important;
    }
    .collection::after{
        width: 55% !important;
    }
}
@media (max-width:600px) {
    .collection{
        padding: 10rem 1rem !important;
    }
}
/* feature section */
@media (max-width:1200px) {
    .feature .body{
        grid-template-columns: auto auto auto !important;
    }
}
@media (max-width:880px) {
    .feature .body{
        grid-template-columns: auto auto !important;
    }
}
@media (max-width:603px) {
    .feature .body{
        grid-template-columns: auto !important;
    }
}