/* The root style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto' !important;
}
a{
    text-decoration: none;
    color: var(--black-brown-text);
}
a:hover{
    color: var(--black-brown-text);
}
input{
    border: none;
    outline: none;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
button{
    border: none;
    background-color: white;
}


/* The root function */
:root{
    --bg: #f8f9fc;
    --orange: #e99c2e;
    --black-brown-text: #616060;
    --black-brown: #5f5b57;
    --black-brown-light: #998d80;
    --green: #47d93c;
    --bg-footer: #f8f9fd;
    --bg-search: #333;
    --card: #33383c;
    --bg-sale-card: rgba(106,119,129,.1);
}

/* Navbar Section */
.Navbar{
    width: 100%;
    height: 7rem;
    position: fixed;
    background-color: transparent;
    top: -4.1rem;
    transition: all .3s ease-in-out;
    z-index: 9999999999;
}
.Navbar nav{
    max-width: 1500px;
    margin: 0rem auto;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: space-between !important;
    grid-template-columns: auto auto auto;
    padding: 0rem 3rem;
    transition: all .3s ease-in-out;
}
.Navbar nav .logo{
    font-size: 1.5rem;
    font-weight: 500;
}
.Navbar nav .logo span{
    color: #e99c2e;
}
.Navbar nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Navbar nav ul li{
    margin: 0rem 0.6rem;
    height: 7rem !important;
    display: grid;
    align-items: center;
    transition: all .3s ease-in-out;
}
.Navbar nav ul li a{
    margin: 0rem 1rem;
    transition: all 0.4s ease-in-out;
    font-weight: 500;
    height: 100%;
    display: grid;
    align-items: center;
}
.Navbar nav ul li:hover a{
    color: var(--orange) !important;
}
.Navbar nav .icons{
    display: flex;
    gap: 1.3rem;
    justify-content: center;
    align-items: center;
}
.Navbar nav .icons svg path{
    font-size: 1.2rem;
    transition: all .3s ease-in-out;
}
.Navbar nav .icons svg:hover path{
    fill: #e99c2e;
}
.Navbar .search{
    width: 100%;
    height: 3.8rem;
    background-color: var(--bg-search) !important;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 4rem;
    gap: 1rem;
}
.Navbar .search span{
    cursor: pointer;
}
.Navbar .search input{
    width: 100%;
    background-color: var(--bg-search);
    color: white;
}
.Navbar .search input:focus::placeholder{
    color: #333;
}

/* The header section */
.header{
    padding: 13rem 0rem 6rem 0rem;
    background-color: var(--bg);
    width: 100%;
}
.header .carousel-inner .container .row .col-md-7{
    margin-bottom: 6rem;
}
.header .carousel-inner .container .row p{
    color: var(--black-brown-light);
    margin: 1rem 0rem;
}
.header .carousel-inner .container .row .prise{
    color:var(--black-brown-text);
}
.header .carousel-inner .container .row .prise span{
    color:var(--black-brown-light);
}
.header .carousel-inner .container .row p:first-child{
    font-size: 1.9rem;
}
.header .carousel-inner .container .row p:last-child{
    color: var(--black-brown) !important;
    margin: 1rem 0rem 0rem 0rem;
}
.header .carousel-inner .container .row h1{
    color: var(--black-brown);
    font-weight: 400;
    font-size: 3rem;
    margin: 1rem 0rem 3rem 0rem;
}
.header .carousel-inner .container .row button{
    width: 11.4rem;
    height: 4rem;
    margin-left: 0rem;
    background-color: var(--orange) !important;
    transition: all .3s ease-in-out !important;
    color: white;
}
.header .carousel-inner .container .row button svg{
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    border: 2px solid var(--bg) !important;
}
.header .carousel-inner .container .row button:hover{
    border: 1px solid var(--orange);
    background-color: var(--bg) !important;
    color: var(--orange) !important;
}
.header .carousel-inner .container .row .white__button{
    background-color:var(--bg) !important;
    color: var(--orange) !important;
    border: 2px solid var(--bg);
}
.header .carousel-inner .container .row .white__button:hover{
    border: 1px solid var(--orange) !important;
    background-color:var(--bg);
}
.header .carousel-indicators{
    display: flex;
    gap: 0.7rem;
    transform: translate(0rem, 4rem);
}
.header .carousel-indicators button{
    border-radius: 50%;
    width: 0.6rem;
    height: 0.6rem;
    border: 1px solid var(--orange);
    position: relative;
    transition: all .1s ease-in-out;
}
.header .carousel-indicators .active{
    width: 1rem !important;
    height: 1rem !important;
    top: -2px;
}
.header .carousel-indicators .active::after{
    content: "";
    width: 0.6rem;
    height: 0.6rem;
    position: absolute;
    border-radius: 50%;
    background-color: var(--orange);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* discover section */
.con-discover{
    width: 100%;
    display: grid;
    justify-content: center;
}
.discover{
    max-width: 1300px;
    margin: 5rem 2rem;
    display: grid;
    justify-content: center;
    gap: 1rem;
    grid-template-columns: 24% 52% 24%;
}
.discover .A,.discover .B, .discover .C{
    background-color: var(--bg) !important;
    text-align: center;
    padding: 2rem 1rem 0rem 1rem;
}
.discover .A:hover h3,.discover .B:hover h3, .discover .C:hover h3{
    color: var(--orange);
}
.discover .A h3,.discover .B h3, .discover .C h3{
    font-size: 1.1rem;
    margin: 1.3rem 0rem;
    color: var(--black-brown-text);
    transition: all .3s ease-in-out;
}
.discover .A p,.discover .B p, .discover .C p{
    font-size: 0.89rem;
    margin: 1.3rem 0rem 0rem 0rem;
    color: var(--black-brown-light);
}
.discover .B{
    display: grid;
    grid-template-columns: 30% 70%;
}
.discover .B img{
    height: 80%;
}
.discover .B button{
    margin: 1rem 0rem;
    width: 10rem;
    height: 3rem;
    color: var(--black-brown);
    border: 1px solid var(--black-brown);
    font-weight: bold;
    transition: all .3s ease-in-out;
}
.discover .B:hover button{
    background-color: var(--black-brown);
    color: var(--bg);
}
.discover .C{
    padding-top: 0rem;
}
.discover .C p{
    margin-bottom: 2rem;
}

/* Sale section */
.con-sale{
    width: 100%;
    display: grid;
    justify-content: center;
}
.sale{
    margin: 0 auto;
    max-width: 1400px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 0 2rem;
    gap: 1rem;
}
.sale-item{
    width: 17rem;
}
.sale-item .inner-img{
    width: 100%;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 16rem;
    position: relative;
    transition: all .2s ease-in-out;
}
.sale-item .inner-img img{
    transition: all .2s ease-in-out;
}
.sale-item .inner-img::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: var(--bg-sale-card);
    transition: all .2s ease-in-out;
    opacity: 0.4;
}
.sale-item .inner-img::before{
    content: "Sale";
    position: absolute;
    background-color: var(--green);
    color: white;
    top: 3%;
    font-size: 0.8rem;
    width: 3.6rem;
    padding: 0.3rem 0rem;
    text-align: center;
    right: 0;
}
.sale-item .inner-img .bottom{
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--card);
    height: 2rem;
    color: white;
    padding: 0rem 1rem;
    font-size: 0.6rem !important;
    z-index: 2;
    transition: all .3s ease-in-out;
    opacity: 0;
}
.sale-item .inner-img .bottom .right, .inner-img .bottom .left{
    display: flex;
    gap: 0.8rem;
}
.sale-item .inner-img .bottom .left a{
    color: var(--bg);
}
.sale-item:hover .inner-img .bottom{
    bottom: 0;
    opacity: 1;
    visibility:visible;
}
.sale-item:hover .inner-img::after{
    width: 100%;
    height: 100%;
}
.sale-item .inner-content{
    text-align: center;
}
.sale-item:hover .inner-img img{
    transform: scale(1.1);
}
.sale-item .inner-content h4{
    margin: 2rem 0rem;
}
.sale-item:hover .inner-content h4{
    color: var(--orange);
}
.sale-item .inner-content p{
    margin: 2rem 0rem;
}















/* Toggle: javascript class list styles */
.top{
    top:0 !important;
}
.small_navbar nav{
    height: 5rem !important;
    background-color: white !important;
    box-shadow: 0px 0px 2px black;
}
.small_navbar nav ul li{
    height: 5rem !important;
}